
.first-section{
  background-color: #FEFEFE ;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.main-container-fillOut-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.fill-outForm{
  font-weight: 800;
  font-size: 32px;
  color: rgb(63, 68, 103);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.form{
  margin: 0;
  padding: 0;
}

.containerForButtons{
margin-top: 20px;
display: flex;
margin-bottom: 50px;
width: 100%;
justify-content: center;
align-items: center;

}

.button-physicalPerson{
  width: 80px;
  height: 34px;
  background-color: rgb(63, 68, 103);
  border: none;
  color: #FFFFFF;
  margin-right: -2px;

  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 10px;
  font-family: "Gillroy";
  cursor: pointer;
  transition: background 0.2s ease;
}

.button-physicalPerson:hover{
  background-color: rgba(63, 68, 103, 0.827);
}

.button-physicalPerson.active{
  background-color: rgb(242, 244, 247);
  color: rgb(63, 68, 103);
  border-top: solid 2px rgb(63, 68, 103);
  border-bottom: solid 2px rgb(63, 68, 103);
  border-left: solid 2px rgb(63, 68, 103);
  border-right: none;
  transition: border-top 0.2s ease, 
  border-bottom 0.2s ease,
  border-left 0.2s ease, 
  font-weight 0.2s ease,
  color 0.2s ease;
}

.button-physicalPerson.active:hover{
  border-top: solid 2px rgba(63, 68, 103, 0.827);
  border-bottom: solid 2px rgba(63, 68, 103, 0.827);
  border-left: solid 2px rgba(63, 68, 103, 0.827);
  font-weight: 800;
  color: rgba(63, 68, 103, 0.827);
}

.button-legalPerson{
  width: 80px;
  height: 34px;
  background-color: rgb(242, 244, 247);
  color: rgb(63, 68, 103);
  font-size: 10px;
  font-weight: 300;
  font-family: "Gillroy";

  border-top: solid 2px rgb(63, 68, 103);
  border-bottom: solid 2px rgb(63, 68, 103);
  border-right: solid 2px rgb(63, 68, 103);
  border-left: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: -2px;
  cursor: pointer;
  transition: border-top 0.2s ease, 
  border-bottom 0.2s ease, 
  border-right 0.2s ease,
   font-weight 0.2s ease,
   color 0.2s ease;
}

.button-legalPerson:hover{
  border-top: solid 2px rgba(63, 68, 103, 0.827);
  border-bottom: solid 2px rgba(63, 68, 103, 0.827);
  border-right: solid 2px rgba(63, 68, 103, 0.827);
  font-weight: 800;
  color: rgba(63, 68, 103, 0.827);
}

.button-legalPerson.active{
  background-color: rgb(63, 68, 103);
  border: none;
  color: #FFFFFF;
  transition: background 0.2s ease;
}

.button-legalPerson.active:hover{
  background-color: rgba(63, 68, 103, 0.827);
}

.container-fillOut-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*FIRST FILLOUT FORM*/
.first-fillOut-form{
  width: 75%;
  margin-bottom: 0px;
  margin-right: 0;
}

.label-style{
  color: rgb(187, 187, 187);
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: 600;
}

.input-style{
  background-color: rgb(242, 244, 247);
  color: rgb(63, 68, 103);
  font-family: "Gillroy";
  border: none;
  height: 36px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.input-style:hover{
  background-color: rgb(230, 237, 248);
}

.input-style:focus{
  outline: none;
  box-shadow: 0 0 0 2px rgba(63, 68, 103, 0.35);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container-name{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.conatiner-fname{
  display: flex;
  flex-direction: column;
  width: 46%;
}

.container-lname{
  display: flex;
  flex-direction: column;
  width: 46%;
}

.container-companyName{
  display: flex;
  margin-bottom: 25px;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.button-logo{
  position: absolute;
  width: 64px;
  height: 36px;
  bottom: 0px;
  right: -66px;
  display: none;

  border: none;
  background-color: transparent;
  font-size: 10px;
  font-family: "Geometria";
  color: rgb(136, 183, 232);
  cursor: pointer;
  font-weight: 600;
  transition: color 1s ease;
}

.button-logo:hover{
  color: rgb(63, 134, 210);
}

.container-email{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  position: relative;
}

.container-phoneNumber{
  display: flex;
  flex-direction: column;
}

/* SECOND FILLOUT FORM*/
.second-fillOut-form{
  width: 75%;
  margin-left: 0px;
  margin-top: 70px;
}

.container-country{
 display: flex;
 flex-direction: column;
 width: 100%;
 margin-bottom: 25px;
}

.container-city-state{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.container-city{
  display: flex;
  flex-direction: column;
  width: 46%;
}

.container-state{
  display: flex;
  flex-direction: column;
  width: 46%;
}

.container-address{
 display: flex;
 flex-direction: column;
 width: 100%;
 margin-bottom: 25px;
}

.conatiner-postIndex{
 display: flex;
 flex-direction: column;
 width: 46%;
}


@media screen and (min-width: 768px) {
    .container-fillOut-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.first-fillOut-form{
  width: 75%;
  margin-bottom: 0px;
  margin-right: 0;
}

.second-fillOut-form{
  width: 75%;
  margin-left: 0px;
  margin-top: 70px;
}

.first-section{
  background-color: #FEFEFE ;
  margin-top: 30px;
  margin-left: 75px;
  margin-right: 30px;
}
.button-logo{
  position: absolute;
  width: 80px;
  height: 36px;
  bottom: 0px;
  right: -84px;
  font-size: 12px;
  border: none;
  background-color: transparent;
  font-family: "Geometria";
  color: rgb(136, 183, 232);
  cursor: pointer;
  font-weight: 600;
  transition: color 1s ease;
  display: block;

}
.fill-outForm{
  font-weight: 800;
  font-size: 42px;
}

.button-physicalPerson{
  width: 100px;
  height: 34px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 12px;
}

.button-legalPerson{
 
  width: 100px;
  height: 34px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 12px;
}

}

@media screen and (min-width: 1280px) {
  .container-fillOut-form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.first-fillOut-form{
  width: 100%;
  margin-right: 80px ;
}

.second-fillOut-form{
  width: 100%;
  margin-left: 160px;
  margin-top: 0;
  margin-right: 0;
}
.first-section{
  background-color: #FEFEFE ;
  margin-top: 40px;
  margin-left: 110px;
  margin-right: 40px;
}

.fill-outForm{
  font-weight: 800;
  font-size: 52px;
  margin-right: 0;
}
.button-logo{
  position: absolute;
  width: 100px;
  height: 36px;
  bottom: 0px;
  right: -94px;
  font-size: 12px;
  display: block;

  border: none;
  background-color: transparent;
  font-family: "Geometria";
  color: rgb(136, 183, 232);
  cursor: pointer;
  font-weight: 600;
  transition: color 1s ease;
}

.button-physicalPerson{
  width: 100px;
  height: 34px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 12px;
}

.button-legalPerson{
  width: 100px;
  height: 34px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 12px;
  margin-left: -2px;
}
}